@import url('select2.min.css');
@import url('bvselect.css');
@import url('animate-eclocking.css');
@import url('full-calender.css');
@import url('perfect-scrollbar.css');
@import url('sweetalert2.min.css');
@import url('click_com_wizard.css');
@import url('font-awesome.css');
@import url('gradient_bg-eclocking.css');
@import url('datatables.min.css');
@import url('datepicker.min.css');
@import url('date_time_picker-default.min.css');
@import url('dtp.css');
@import url('datetime.css');
@import url('complement-eclocking.css');
@import url('croppr.min.css');
@import url('magnific-popup.css');
@import url('email.css');
@import url('recorderjs.css');
@import url('textarea.css');
@import url('tooltip.css');
@import url('popupwindow.min.css');
[select-show] {
    display: none;
}

[force-show] {
    display: block !important;
}

[pagin_table] {
    width: 100% !important;
}

[enable-fullscreen] {
    overflow-y: scroll;
}