/*
 * This combined file was created by the DataTables downloader builder:
 *   https://datatables.net/download
 *
 * To rebuild or modify this file with the latest versions of the included
 * software please visit:
 *   https://datatables.net/download/#dt/rg-1.1.4
 *
 * Included libraries:
 *   RowGroup 1.1.4
 */

table.dataTable tr.dtrg-group td {
  background-color: #e0e0e0;
}

table.dataTable tr.dtrg-group.dtrg-level-0 td {
  font-weight: bold;
}

table.dataTable tr.dtrg-group.dtrg-level-1 td,
table.dataTable tr.dtrg-group.dtrg-level-2 td,
table.dataTable tr.dtrg-group.dtrg-level-3 td,
table.dataTable tr.dtrg-group.dtrg-level-4 td,
table.dataTable tr.dtrg-group.dtrg-level-5 td {
  background-color: #f0f0f0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 2em;
  font-size: 0.9em;
}

table.dataTable tr.dtrg-group.dtrg-level-2 td {
  background-color: #f3f3f3;
  padding-left: 2.5em;
}

table.dataTable tr.dtrg-group.dtrg-level-3 td {
  background-color: #f3f3f3;
  padding-left: 3em;
}

table.dataTable tr.dtrg-group.dtrg-level-4 td {
  background-color: #f3f3f3;
  padding-left: 3.5em;
}

table.dataTable tr.dtrg-group.dtrg-level-5 td {
  background-color: #f3f3f3;
  padding-left: 4em;
}


